.starter-button {
    height:250px;
    width:250px;
}
.button {
    background-color: #4CAF50; /* Green */
    margin: 30px;
    color: white;
    padding: 60px;
    padding-left:100px;
    padding-right:100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} 
/* choose a country */
.selector {
    background-color:rgb(201, 199, 199);
    border-style:solid;
    border-width: 4px;
    border-color:black;
    padding:10px;
    border-radius:10px
}

#choices-2 {
    padding-right:20px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:xx-large;
}

.scoreTracker {
    border-style:solid;
    border-width:4px;
    border-color:rgb(194, 188, 188);
    padding:20px;
    display:inline-block;
    border-radius:10px;
}

.scoreText{
    font-size:xx-large
}

#submit {
    padding-right:20px;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:xx-large; 
}

.card {
    length:500px;
    height:500px
}